.App {
  text-align: center;
}

body {
  color: white;
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(54, 24, 110);
  color: white;
}

.links {
  width: 150px;
  display: flex;
  margin: 0 6px 6px;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}